cicd/cicd-mule/src/main/mule/cicd-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76fb7d1a-7896-4afd-9543-646215146f67" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="cicd-muleFlow" doc:id="a59eed41-2d8d-4cae-b142-39620cc89ca9" >
		<http:listener doc:name="Listener" doc:id="7dba2a03-8819-4a87-ae48-b02f81638cdb" config-ref="HTTP_Listener_config" path="/"/>
		<flow-ref doc:name="cicd-setpayload" doc:id="63e8e5ad-eb59-41be-8c3f-8d7c7f2350c0" name="cicd-setpayload"/>
	</flow>
	<sub-flow name="cicd-setpayload" doc:id="c501bb7b-e854-445a-97b1-435ff585fd9c" >
		<set-payload value='#["Hello mule CICD"]' doc:name="Set Payload" doc:id="e53276d4-38d3-4657-9167-77b70635f386" />
		<logger level="INFO" doc:name="Logger" doc:id="cc7f1178-d365-471b-9671-7a1fb361ec5c" message="#[payload]"/>
	</sub-flow>
</mule>
